:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#707070;
    --web-color:rgb(238,77,45);
    --border-color:#EDEDED;
    --header-index:30px;
    --header-height:120px;
    --header-search-height: calc((var(--header-height)) - (var(--header-index)));
}
*{
    /* kế thừa lại html */
    box-sizing: inherit;
}
html{
    font-size:62.5%;
    line-height: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
}
/* kích thức màng hình */
.grid{
    width: 1200px;
    /* giảm kích thước vừa với màn hình */
    max-width: 100%;
    /* căn giữa  */
    margin: 0 auto;
}
/* không sử dụng grid thì sử dụng cái này */
.grid__full--width{
    width: 100%;
}
/* hàng ngang */
.grid__row{
    display: flex;
    /* nhảy xuống hàng */
    flex-wrap: wrap;
    padding-top: 10px;

}
/* Animation */
@keyframes fadein {
    from{
       opacity: 0;
    }to{
        opacity:1;
    }
}
@keyframes growth{
    from{
        transform: scale(var(--growth-form));
     }to{
        transform:scale(var(--growth-to));
     }
}
@keyframes headNotification{
    from{
      opacity: 0;
      transform: scale(0);
    }
  to{
    opacity: 1;
    transform: scale(1);
  }}
/* ------------ buttion ----------------- */
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    animation: fadein linear 0.1s;
    z-index: 1;
}
.modal__body{
    --growth-form:0.7;
    --growth-to:1;
     position: relative;
     margin: auto;
     z-index: 2;
     animation:growth linear 0.1s ;
}
.btn{
    display: inline-flex;
    padding-left: 20px;
    align-items: center;
    width: 110px;
    height: 34px;
    outline: none;
    border-radius: 2px;
    text-decoration: none;
    border: none;
    background-color: #fff;
    cursor: pointer;
    margin-right: 8px;
    line-height: 1.6rem;
}
.btn.btn_animation :hover{
    background-color:var(--border-color);
}
.btn.btn-register {
    border-radius: 2px;
    color:var(--white-color);
    background-color: var(--web-color);
}
.header__cart-item-forn{
    font-size: 1.6rem;
}
.pagination{
    display: flex;
    justify-content: center;
  }
.pagination-item{
    list-style: none;
    margin: 0px 10px;
}
.pagination-item-link{
    display: block;
    text-decoration: none;
    width: 40px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    color: #939393;
    font-size: 1.6rem;
}
.pagination-item-active {
    color: var(--white-color);
    background-color: #EE4D2D;
}
.pagination-item-active:hover {
    background-color:#ec5d41;
}
.product-column-2{
    padding-left:7px;
    padding-right:7px;
    width:20%;
}
